<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- This will run all test cases on the browser mentioned below -->
	<test name="Test">
		<classes>
			<class name="TestClassNAGP2022" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
